<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218633368514-o9bj5po21jt45nqc0asurjh8av2gpnco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218633368514-o9bj5po21jt45nqc0asurjh8av2gpnco</string>
	<key>API_KEY</key>
	<string>AIzaSyBBTBBGOhN83pS1FOQWSKKpreD9L_EJwGw</string>
	<key>GCM_SENDER_ID</key>
	<string>218633368514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.equaleyes.spvchannels</string>
	<key>PROJECT_ID</key>
	<string>spv-channels-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>spv-channels-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218633368514:ios:34f10f9167c38fba9b1c5b</string>
</dict>
</plist>